<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <meta charset="UTF-8" th:remove="all" />
    <title>サインアップ</title>
</head>

<body class="yj950-2">

<div class="bgcolor-white pt1em pb1em" id="contents" layout:fragment="content">
    <div id="main_cnt_wrapper">
        <div id="yjContentsBody">
            <div class="yjContainer">
                <div class="form_box">
                    <h2>mooovi<span>新規登録</span></h2>

                    <form th:action="@{/sign_up}" th:object="${userForm}" class="new_user" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">

                        <div th:if="${#fields.hasAnyErrors()}" id="error_explanation">
                            <h2 th:inline="text">[[${#fields.allErrors().size()}]] errors prohibited this user from being saved:</h2>
                            <ul>
                                <li th:each="error : ${#fields.detailedErrors()}">
                                    <span th:text="${error.isGlobal()}? ${error.message} : |${error.fieldName} ${error.message}|">Error message</span>
                                </li>
                            </ul>
                        </div>

                        <div class="label">
                            <label for="user_email">Email</label><br />
                            <input th:field="*{email}" autofocus="autofocus" placeholder="メールアドレスを入力" type="email" value="" name="email" id="user_email" />
                        </div>

                        <div class="label">
                            <label for="user_password">Password</label> <br />
                            <input th:field="*{password}" autocomplete="off" placeholder="パスワードを入力" type="password" name="password" id="user_password" />
                        </div>

                        <div class="label">
                            <label for="user_password_confirmation">Password confirmation</label><br />
                            <input th:field="*{confirmPassword}" autocomplete="off" placeholder="パスワードを入力（確認）" type="password" name="confirmPassword" id="user_password_confirmation" />
                        </div>

                        <div class="label">
                            <label for="user_nickname">Nickname</label><br />
                            <input th:field="*{nickname}" placeholder="ニックネームを入力（必須）" type="text" name="nickname" id="user_nickname" />
                        </div>

                        <div class="field">
                        </div>

                        <div class="submit">
                            <div class="actions">
                                <input type="submit" name="commit" value="Create User" />
                            </div>
                        </div>

                        <div class="more_link_box">
                            <strong>すでにアカウントを持っていますか？</strong>
                            <a href="/loginForm">Log in</a><br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
