<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>

<div layout:fragment="ranking">
    <aside class="section">
        <h4 class="text-small hr-bottom--thin no-space-bottom">
            <i class="icon-crown color-gray-light"></i>投稿ランキング
        </h4>
        <ul class="listview listview--condensed text-small">

            <li data-cinema-id="346394" th:each="product : ${rankingProducts}">
                <a href="/products/1" th:href="@{'/products/' + ${product.id}}">
                    <div class="box">
                        <div class="box__cell w40 align-center">
                            <p class="label bgcolor-gray-lighter align-center" th:text="${productStat.count}">1</p>
                        </div>
                        <div class="box__cell pl1em">
                            <p class="text-xsmall no-space" th:text="${product.title}">オオカミ少女と黒王子</p>
                            <img src="http://image.eiga.k-img.com/images/movie/82939/poster2/200.jpg?1456105504" alt="オオカミ少女と黒王子" th:src="${product.imageUrl}">
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </aside>
</div>

</body>

</html>
